* -text
*.iff filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.png binary
*.jpg binary
*.jpeg binary
*.dds binary
*.zip binary
*.pdf binary
*.docx binary
